@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    @apply font-sans text-gray-900 bg-white;
    max-width: 100vw;
    overflow-x: hidden;
  }

  a {
    @apply text-inherit no-underline;
  }
}